.jeff{
  display: inline-block;
}

.ian{
    
    display: inline-block;
    padding-left: 20px;
}

.josh{
    
    display: inline-block;
    padding-left: 20px;
}

.oz{
    
    display: inline-block;
    padding-left: 20px;
}
